# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# Environment variables
.env

# macOS
.DS_Store

# VS Code
.vscode/

# PyCharm
.idea/

# Local test files
session_demo.py
test_connection.py

# Local secrets
GTFS_apitoken.rtf

# Screenshots
*.png